.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.main {
    font-family: 'Roboto';
    height: 100%;
}

.prepres__container {
    max-width: 1200px;
    margin: 0 20px 0 20px;
}

.prepres__menu {
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
}

.prepres__back-link {
    color: #3965FF;
    font-size: 15px;
    text-decoration: none;
}

.prepres__back-link:hover {
    color: #5d80f8;
}

.prepres__media {
    margin: 20px 0 60px 0;
    display: block;
}

.prepres__media img {
    width: 350px;
    margin: 0 auto;
}

.prepres__title {
    margin: 0 0 30px 0;
    color: #000;
    font-size: 34px;
    font-weight: 500;
}

.prepres__text-container {
    margin: 0 0 50px 0;
}

.prepres__text {
    margin: 0px 0px 13px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 27px;
}